@font-face {
    font-family: "TCCC-UnityHeadline-Bold";
    src: url('../fonts/TCCC-UnityHeadline-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "TCCC-UnityText-Regular";
    src: url('../fonts/TCCC-UnityText-Regular.ttf') format('truetype');
}
body{
    
    /* font-family: "Gotham", Calibri, Tahoma, sans-serif; */
    color: #1E1E1E;
    background: url(../img//registro/registro_back.jpg) no-repeat top center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.cuerpo{
    width: 94%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: white;
    border-radius: 40px;
    max-width: 900px;
}

.imagenEncabezado{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 70%;
}

.encabezado{
    text-align: center;
}

.titulo{
    font-weight: bold;
    font-size: medium;
    color: #1E1E1E;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    font-family: "TCCC-UnityHeadline-Bold", Calibri;
}


.divisionArriba{
    color: #DC2128;
    background-color: #DC2128;
    height: 10px;
    margin-left: 0%;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-top: 5%;
    margin-bottom: 10px;
    border: none;
}

.divisionAbajo{
    color: #DC2128;
    background-color: #DC2128   ;
    height: 10px;
    margin-left: 0%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
}
.detalleEvento{
    margin-left: 0%;
    font-family: "TCCC-UnityText-Regular", Calibri;
    font-size: 12px;
}
.margenDerecho{
    margin-right: 5%;
}

.obligatoriosdiv{
    text-align: right;
    margin-right: 9%;
    margin-top: 1%;
}
.obligatorios{
    font-size: x-small;
    font-family: "TCCC-UnityHeadline-Bold", Calibri;
    color: #DC2128;
}

.elmentoFormularioTitulo{
    font-weight: bold;
    font-size: normal;
    margin-bottom: 5px;
    font-family: "TCCC-UnityHeadline-Bold", Calibri;
}

.asterisc {
    color: #DC2128;
    font-size: larger;
}

.elmentoFormularioinput{
    width: 90%;
    margin-top: 0px;
    height: 30px;
    background-color: #F7F7F7;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    box-shadow: none;
    color: #787878;
    font-family: "TCCC-UnityText-Regular", Calibri;
    text-align: center;
    font-size: normal;
}
.error{
    width: 90%;
    margin-left: 5%;
}

.botonRegistrarse{
    background: #DC2128;
    border: 0;
    color: #f7f7f7;
    height: 50px;
    margin-left: 5%;
    margin-top: 0%;
    font-size: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    font-family: "Gotham", Calibri, Tahoma, sans-serif;
}

.botonContinuar{
    background: #DC2128;
    border: 0;
    color: #f7f7f7;
    height: 50px;
    width: 20%;
    max-width: 300px;
    margin-left: 40%;
    margin-top: 0%;
    font-size: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    font-family: "Gotham", Calibri, Tahoma, sans-serif;
}

.imagenMonedas{
    display: block;
    max-width: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.tituloChico{
    font-weight: normal;
    font-size: small;
    color: #1E1E1E ;
    display: block;
    text-align: center;
    font-family: "TCCC-UnityHeadline-Bold", Calibri;
}

.tituloNumeroMonedas{
    font-weight: 800;
    font-size: xx-large;
    color: #DC2128;
    display: block;
    text-align: center;
    font-family: "TCCC-UnityHeadline-Bold", Calibri;
}

.rojo{
    color: #DC2128;
}

.renglonTablaExperiencias{
    margin-left: 5%;
	font-size: normal;
	font-weight: normal;
	text-align: left;
	color: #1E1E1E;
	margin-bottom: 0%;
	width: 90%;
    margin-left: 5%;
    list-style: none;
    padding-bottom: 10px;
    font-family: "Montserrat", Calibri, Tahoma, sans-serif;
}

li:nth-child(odd) { color: #DC2128; }

.qr{
	width: 30%;
	margin-left: 35%;
	margin-top: 0%;
	margin-bottom: 0%;
}


.qr2{
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.barra{
    width: 100%;
    margin-top: 2%;
}

.botonRegistrarseNuevo{
    max-width: 150px;
    width: 40%;
    
}